//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Tue 12 27 23:20:03 2022

IO_LOC "CTRL1_EN" D10;
IO_PORT "CTRL1_EN" PULL_MODE=UP DRIVE=8;
IO_LOC "EXTIOSEL" D11;
IO_PORT "EXTIOSEL" PULL_MODE=UP DRIVE=8;
IO_LOC "WAIT" F10;
IO_PORT "WAIT" PULL_MODE=UP DRIVE=8;
IO_LOC "INT" J11;
IO_PORT "INT" PULL_MODE=UP DRIVE=8;
IO_LOC "LED_BLUE" A9;
IO_PORT "LED_BLUE" PULL_MODE=UP DRIVE=8;
IO_LOC "LED_RED" L12;
IO_PORT "LED_RED" PULL_MODE=UP DRIVE=8;
IO_LOC "LED_GREEN" C9;
IO_PORT "LED_GREEN" PULL_MODE=UP DRIVE=8;
IO_LOC "VIDEO_O" L9;
IO_PORT "VIDEO_O" PULL_MODE=UP DRIVE=8;
IO_LOC "VSYNC_O" N8;
IO_PORT "VSYNC_O" PULL_MODE=UP DRIVE=8;
IO_LOC "HSYNC_O" R9;
IO_PORT "HSYNC_O" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" F15;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" C13;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" D16;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" E14;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "REQ" A13;
IO_PORT "REQ" PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[3]" B10;
IO_PORT "ESP_S[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[2]" G11;
IO_PORT "ESP_S[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[1]" H12;
IO_PORT "ESP_S[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[0]" J12;
IO_PORT "ESP_S[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "MISO" K13;
IO_PORT "MISO" PULL_MODE=UP DRIVE=8;
IO_LOC "CASS_OUT" C10;
IO_PORT "CASS_OUT" PULL_MODE=UP DRIVE=8;
IO_LOC "DBUS_EN" J16;
IO_PORT "DBUS_EN" PULL_MODE=UP DRIVE=8;
IO_LOC "DBUS_DIR" T15;
IO_PORT "DBUS_DIR" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TXC_N" H15;
IO_PORT "HDMI_TXC_N" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TXC_P" G16;
IO_PORT "HDMI_TXC_P" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TX_N[2]" K14;
IO_PORT "HDMI_TX_N[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TX_N[1]" J15;
IO_PORT "HDMI_TX_N[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TX_N[0]" H14;
IO_PORT "HDMI_TX_N[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TX_P[2]" K15;
IO_PORT "HDMI_TX_P[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TX_P[1]" K16;
IO_PORT "HDMI_TX_P[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "HDMI_TX_P[0]" H16;
IO_PORT "HDMI_TX_P[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_DIR_N" R16;
IO_PORT "ABUS_DIR_N" PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_EN" T12;
IO_PORT "ABUS_EN" PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_DIR" R11;
IO_PORT "ABUS_DIR" PULL_MODE=UP DRIVE=8;
IO_LOC "CTRL_EN" P6;
IO_PORT "CTRL_EN" PULL_MODE=UP DRIVE=8;
IO_LOC "CTRL_DIR" T6;
IO_PORT "CTRL_DIR" PULL_MODE=UP DRIVE=8;
IO_LOC "EXTIOSEL_IN_N" E10;
IO_PORT "EXTIOSEL_IN_N" PULL_MODE=UP;
IO_LOC "VIDEOX" N7;
IO_PORT "VIDEOX" PULL_MODE=UP;
IO_LOC "clk_in" H11;
IO_PORT "clk_in" PULL_MODE=UP;
IO_LOC "SCK" K12;
IO_PORT "SCK" PULL_MODE=UP;
IO_LOC "DONE" E16;
IO_PORT "DONE" PULL_MODE=UP;
IO_LOC "CS_FPGA" K11;
IO_PORT "CS_FPGA" PULL_MODE=UP;
IO_LOC "VSYNCX" M6;
IO_PORT "VSYNCX" PULL_MODE=UP;
IO_LOC "_WR_N" T8;
IO_PORT "_WR_N" PULL_MODE=UP DRIVE=8;
IO_LOC "CONF[2]" B11;
IO_PORT "CONF[2]" PULL_MODE=UP;
IO_LOC "CONF[0]" A12;
IO_PORT "CONF[0]" PULL_MODE=UP;
IO_LOC "_RD_N" R8;
IO_PORT "_RD_N" PULL_MODE=UP DRIVE=8;
IO_LOC "MOSI" H13;
IO_PORT "MOSI" PULL_MODE=UP;
IO_LOC "HSYNCX" L8;
IO_PORT "HSYNCX" PULL_MODE=UP;
IO_LOC "CONF[3]" A11;
IO_PORT "CONF[3]" PULL_MODE=UP;
IO_LOC "CONF[1]" C11;
IO_PORT "CONF[1]" PULL_MODE=UP;
IO_LOC "_IN_N" T7;
IO_PORT "_IN_N" PULL_MODE=UP DRIVE=8;
IO_LOC "WAIT_IN_N" R7;
IO_PORT "WAIT_IN_N" PULL_MODE=UP;
IO_LOC "_A[4]" T14;
IO_PORT "_A[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[3]" M15;
IO_PORT "_A[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[2]" M14;
IO_PORT "_A[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "_M1_N" P11;
IO_PORT "_M1_N" PULL_MODE=UP DRIVE=8;
IO_LOC "_RAS_N" T9;
IO_PORT "_RAS_N" PULL_MODE=UP DRIVE=8;
IO_LOC "_OUT_N" P8;
IO_PORT "_OUT_N" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[10]" L14;
IO_PORT "_A[10]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[13]" N14;
IO_PORT "_A[13]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[11]" P16;
IO_PORT "_A[11]" PULL_MODE=UP DRIVE=8;
IO_LOC "_IOREQ_N" P9;
IO_PORT "_IOREQ_N" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[0]" G12;
IO_PORT "_A[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[0]" A15;
IO_PORT "_D[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[15]" N16;
IO_PORT "_A[15]" PULL_MODE=UP DRIVE=8;
IO_LOC "_RESET_N" T11;
IO_PORT "_RESET_N" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[14]" N15;
IO_PORT "_A[14]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[12]" L16;
IO_PORT "_A[12]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[9]" L13;
IO_PORT "_A[9]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[8]" P15;
IO_PORT "_A[8]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[7]" R12;
IO_PORT "_A[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[6]" P13;
IO_PORT "_A[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[1]" F13;
IO_PORT "_A[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "_A[5]" R13;
IO_PORT "_A[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[7]" J14;
IO_PORT "_D[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[4]" F14;
IO_PORT "_D[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[2]" E15;
IO_PORT "_D[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[1]" D14;
IO_PORT "_D[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[5]" G15;
IO_PORT "_D[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[6]" G14;
IO_PORT "_D[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "_D[3]" F16;
IO_PORT "_D[3]" PULL_MODE=UP DRIVE=8;
